.ProfileHeaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 150px;
}

.ProfileHeaderImage {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.HeaderText {
    color: white;
    text-align: start;
    margin-bottom: 20px;
    padding: 10px;
}