.AppNavigation {
    grid-area: nav;
    background-color: darkblue;
    padding: 20px;
}

.Item a {
    color: white;
    text-decoration: none;
}

.Item a.activeLink {
    color: red;
}

.ItemActive {
    color: red;
}